<mat-accordion>
    <mat-expansion-panel *ngFor="let agentVsOrder of this.agentVsOrderMasterData">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{agentVsOrder.agentName}}
            </mat-panel-title>
            <mat-panel-description>
                {{agentVsOrder.orderList.length}} Orders
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngFor="let order of agentVsOrder.orderList ">
            <div class="col-3">
                {{order.testName}}
            </div>
            <div class="col-3">
                {{order.addressName}}
            </div>
            <div class="col-6">
                {{order.createdDate}}
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>